<a href="https://colab.research.google.com/github/prateekshapm/machine_learning/blob/main/while_for.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

while loop

In [4]:
a=int(input("ENter the number "))
while a<=9:
  print("the number is single digit ")
  break
while a>9 and a<=99:
  print("the number is double digit")
  break
else :
  print("the number has more than 2 digits ")

ENter the number 789
the number has more than 2 digits

**For loop**

In [5]:
for x in range (6):
  print(x)       #starting range is from 0 and 6 isnt considered

0
1
2
3
4
5

In [6]:
for x in range (1,6):
  print(x)    #starts from 1 till 5

1
2
3
4
5

In [7]:
for x in range (1,20,2):      #i=1,i<20,i=i+2
  print(x)

1
3
5
7
9
11
13
15
17
19

In [9]:
for x in range (0,99,9):
  print(x)

0
9
18
27
36
45
54
63
72
81
90

**For loop in arrays**

In [11]:
names =["a","b","c","d"]
for x in names :
  print (x)

a
b
c
d

In [13]:
names =["a","b","c","d"]
for x in names :
  print(x)
  if x=="d":
    print ("heyy")
    break

a
b
c
d
heyy